/* TEXT COLOR */
/* BACKGROUNDS */
* {
  margin: 0%;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #201d1d;
}

a:hover {
  color: #201d1d;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav a {
  margin-left: 1rem;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0%;
  top: 0%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-animation: fadeIn 0.3s;
          animation: fadeIn 0.3s;
}

.form {
  width: 40rem;
  min-height: 30rem;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 2rem;
}

.form .input-container {
  position: relative;
  padding: 2.5rem 0;
}

.form .input-container:first-child {
  padding-top: 3rem;
}

.form .input-container input {
  width: 100%;
  padding: 0rem 1rem;
  border: none;
  border-bottom: 0.1rem solid #201d1d;
  outline: none;
  font-size: 2rem;
}

.form .input-container input:focus + label,
.form .input-container input:valid + label,
.form .input-container input:hover + label {
  -webkit-transform: translateY(-2.5rem);
          transform: translateY(-2.5rem);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: rgba(0, 0, 0, 0.8);
}

.form .input-container label {
  position: absolute;
  left: 0%;
  bottom: 3rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form .input-container label:first-child {
  bottom: 3rem;
}

.form .input-container label:hover {
  -webkit-transform: translateY(-2.5rem);
          transform: translateY(-2.5rem);
}

.errors {
  font-size: 1.5rem;
}

/* FADE */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-container .btn {
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  font-weight: bold;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.btn-container .btn:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-shadow: 0 1rem 0.5rem #272727;
          box-shadow: 0 1rem 0.5rem #272727;
}

.btn-container .btn:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

.btn-container .btn-main {
  background-color: blue;
  color: white;
}

.login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20rem;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  width: 40rem;
  height: 40rem;
  margin: 20rem auto;
  border-radius: 1rem;
}

.recipe-card-container {
  width: 15rem;
  height: 15rem;
  position: relative;
  cursor: pointer;
}

.recipe-card-bg {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0;
}

.home-container {
  margin-top: 5rem;
  padding: 2.5rem;
  min-height: 20rem;
  text-align: center;
}

.home-container h5 {
  font-size: 2.3rem;
}

.home-card-container {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipe-container {
  width: 50rem;
  margin: 10rem auto;
}

.recipe-container .tittle {
  font-size: 1.1rem;
  text-align: center;
  padding: 0.2rem;
}

.recipe-container .tittle h3 {
  font-size: 3rem;
  padding: 1rem;
}
/*# sourceMappingURL=main.css.map */