.home-container {
  margin-top: 5rem;
  padding: 2.5rem;
  min-height: 20rem;
  text-align: center;

  h5 {
    font-size: 2.3rem;
  }
}

.home-card-container {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
