.recipe-container {
  width: 50rem;
  margin: 10rem auto;

  .tittle {
    position: relative;

    h3 {
      font-size: 3.5rem;
      padding: 1rem;
    }

    font-size: 1rem;
    text-align: center;

    hr {
      margin: 1rem 0;
    }
  }

  .instructions {
    text-align: center;
    font-size: 1.5rem;

    h5 {
      font-size: 2rem;
    }
  }

  .ingredients {
    text-align: center;
    font-size: 2rem;
    h5 {
      margin-bottom: 1rem;
    }

    .ingredients-table {
      text-align: center;
      margin: 1rem auto;
      width: 100%;
      font-size: 1.5rem;
      border-collapse: collapse;

      td {
        border-bottom: 0.1rem solid black;
        padding: 0.1rem;
      }

      th {
        border-bottom: 0.1rem solid black;
        padding: 0.3rem;
      }
    }
  }

  .btn-like {
    position: absolute;
    left: 0rem;
    bottom: 0.5rem;
  }

  .edit-container {
    position: absolute;
    right: 0rem;
    bottom: 0.5rem;

    p {
      margin: 0.5rem 0;
    }
  }

  .add-ingredient {
    margin: auto;
    font-size: 1rem;
    width: 15rem;
  }
}
